<% content_for :body do %>
 <br class="clear">
	<div id="content">
	  <div class="fleft">
		  <h1>Это стартовая страница - заголовок из базы</h1>
		  <p>Тут должен быть текст из базы</p>
	  </div>
	<% end %>
</div>
<%= render 'fresh_news' %>
<%= render '/refinery/content_page' %>